body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

.left-section h1 {
    margin-bottom: 10px;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.right-section button {
    width: 80%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.right-section p {
    text-align: center;
    margin-top: 10px;
}
#password-inp {
    
    width: 100%;
}

.password-container {
    position: relative;
    width: 80%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.pass-visibility{
    width: 25px;
    background: white;
}
.error{
    color: red;
    
}